<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
</a>
<div id="menu">
    <div class="pure-menu pure-menu-open">
         <a id="menu_home" class="pure-menu-heading"  href="/">OPMACLOUD</a>
         <ul>
         <li><a id="menu_problems" href="/problems">建站问题</a></li>
         <li><a id="menu_features" href="/features">服务介绍</a></li>
         <li><a id="menu_price" href="/price">套餐报价</a></li>
         <li class="menu-item-divided"><a id="menu_about" href="/about">关于我们</a></li>
         <li class="menu-item-divided"><a id="menu_blog" href="http://blog.opmacloud.com">技术博客</a></li>
         </ul>
    </div>
</div>
